<section id="contact">
    <div class="container">

        <div class="contact-info">
            <h2>Lass uns reden!?</h2>
            <p class="description">
                Wenn du Fragen an mich hast oder mit mir zusammenarbeiten möchtest, schreib mir eine
                Nachricht!
            </p>
            <button class="mail-btn"> <img class="icon" src="/assets/img/mail.png" alt="">E-Mail</button>
        </div>
           <div class="contact-form">
            <p>Name</p>
            <input type="text" placeholder="Dein Name">
            <p>E-Mail</p>
            <input type="email" placeholder="Deine E-Mail">
            <p>Nachricht</p>
            <textarea placeholder="Deine Nachricht"></textarea>
            <button class="send-btn">Absenden</button>
        </div>


    </div>
</section>