<section id="contact">
    <div class="container">

        <div class="contact-info">
            <h2>Lass uns reden!?</h2>
            <p class="description">
                Wenn du Fragen an mich hast oder mit mir zusammenarbeiten möchtest, schreib mir eine
                Nachricht!
            </p>
            <a href="mailto:thieletim15@gmail.com" class="mail-btn" style="text-decoration: none;"> <img class="icon" src="/assets/img/mail.png" alt="">E-Mail</a>
        </div>
        <form class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <p>Name</p>
            <input type="text" name="name" [(ngModel)]="contactData.name" placeholder="Dein Name" required>
            <p>E-Mail</p>
            <input type="email" name="email" [(ngModel)]="contactData.email" placeholder="Deine E-Mail" required>
            <p>Nachricht</p>
            <textarea name="message" [(ngModel)]="contactData.message" placeholder="Deine Nachricht" required></textarea>
            <button type="submit" class="send-btn" [disabled]="contactForm.invalid || isSending">{{ isSending ? 'Wird gesendet...' : 'Absenden' }}</button>
            <p class="status-msg" *ngIf="statusMessage">{{ statusMessage }}</p>
        </form>


    </div>
</section>