<section id="about" class="hero">
    <div class="side-by-side">

        <div class="container left-container">
            <p>👋Hey, Ich bin</p>
            <h2>Tim Thiele</h2>
            <span class="bio">
                <p> Ich bin ein leidenschaftlicher Entwickler mit einem starken Fokus darauf, digitale Ideen in echte
                    Erlebnisse zu verwandeln. Für mich geht es nicht nur darum, funktionierenden Code zu schreiben,
                    sondern
                    Anwendungen zu erschaffen, die sich gut anfühlen, klar verständlich sind und den Nutzer wirklich
                    abholen. Ich lege großen Wert auf <span class="bold"> Struktur, sauberes Design und intuitive Bedienung</span>,  weil genau
                    diese
                    Details darüber entscheiden, ob ein Projekt nur funktioniert oder wirklich begeistert. </p>

                <p>Schon früh habe ich mich intensiv mit Webentwicklung beschäftigt und mich Schritt für Schritt
                    weiterentwickelt. Dabei habe ich gelernt, sowohl im <span class="bold">Frontend als auch im Backend</span> zu arbeiten und
                    komplexe Zusammenhänge zu verstehen. Technik und Kreativität gehören für mich zusammen, denn genau
                    daraus entstehen die besten Lösungen. </p>

                <p>Ich arbeite <span class="bold">selbstständig und diszipliniert</span>, setze mir klare Ziele und bleibe dran, bis ich sie
                    erreiche. Herausforderungen sehe ich als Chance, besser zu werden und neue Wege zu entdecken.
                    Gleichzeitig bin ich offen für Feedback und <span class="bold">entwickle mich kontinuierlich weiter.</span> </p>

                <p>Mein Ziel ist es, Projekte zu realisieren, die <span class="bold">technisch überzeugen und echten Mehrwert bieten</span>.
                    Anwendungen, die Menschen gerne nutzen, Probleme lösen und im Kopf bleiben. </p>
            </span>
        </div>
        <div class="container profile-pic-container">
            <img src="/assets/img/tim.png" alt="Bild von Tim Thiele" class="profile-pic">
        </div>
    </div>
    <nav>
        <a href="https://github.com/Greedrache"  target="_blank"><img src="/assets/img/github.png" alt="GitHub Logo"> GitHub</a>
        <a href="https://www.linkedin.com/in/tim-thiele-390aa92aa/" target="_blank"><img src="/assets/img/linkedin.png" alt="LinkedIn Logo"> LinkedIn</a>
    </nav>
</section>