.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 90px;
  background-color: #0c141b;
  border-radius: 100px;
  border: 1px solid #ffffff;
  color: white;
  max-width: 1900px;
  margin: 0 auto;

  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 60px);

  z-index: 1000;

  .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .burger {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }


  .orange-btn {
    background-color: #f8770e;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: 500;
      transition: color 0.2s;

      &:hover {
        color: #f0c040;
      }
    }
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .theme-icon {
      width: 24px;
      height: 24px;
    }
  }

  .theme-toggle button {
    background: none;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s;

    &:hover {
      background-color: white;
      color: #0c141b;
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 40px);
    padding: 0 1rem;

    .burger {
      display: block;
    }
  }

  .nav-links {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    border-radius: 10px;
    background-color: #0c141b;

    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 2rem 0;

    transform: translateY(-200%);
    transition: transform 0.3s ease;
  }

  .nav-links.active {
    transform: translateY(0);
  }

  .theme-toggle .orange-btn {
    display: none;
  }
}

