<header class="header">
    <div class="logo">
        <img src="/assets/img/drachen.png" alt="Logo">
    </div>

    <nav class="nav-links" id="nav">
        <a routerLink="/" fragment="hero">Home</a>
        <a routerLink="/" fragment="projects">Projekte</a>
        <a routerLink="/" fragment="about">Ãœber mich</a>
    </nav>

    <div class="theme-toggle">
        <a class="orange-btn" routerLink="/" fragment="contact">Schreib mir</a>

        <button class="burger" id="burger" (click)="toggleMenu()">
            ☰
        </button>

        <button>
            🌞 / 🌙
        </button>
    </div>
</header>