<section class="learning-section">
  <div class="learning-box">    
    <img src="/assets/img/cpp.png" alt="C++ Logo">
    
    <div class="learning-content">
      <h2>Next Level: C++</h2>
      <p>
        Stillstand ist für mich keine Option. Nachdem ich meine Basis in der 
        Programmierung gefestigt habe, wage ich mich nun an C++. Mein Ziel ist es, 
        tiefer in die systemnahe Entwicklung einzutauchen und mein technisches 
        Verständnis immer wieder aufs Neue herauszufordern.
      </p>
    </div>
  </div>
</section>